body {
      font-family: Arial, sans-serif;
      padding: 30px;
      background: #f0f0f0;
    }
    .calculator {
      width: 500px;
      background: rgb(246, 192, 192);
      padding-top: 30px;
      padding-bottom:30px ;
      padding-left: 85px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin: auto;
    }
    input[type="text"] {
      width: 83%;
      font-size: 24px;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    .buttons button {
      width: 20%;
      padding: 15px;
      font-size: 18px;
      margin: 2px 0;
      box-sizing: border-box;
      cursor: pointer;
    }
    .history{
        text-align: center;

    }